<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Menu Inicial</title>
    <style>
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

</style>
</head>
<body style="background-color: brown; color: white; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px;">
<div class="center">
    <h1>Bem vindo, selecione a opção que deseja:</h1>
    <input type="submit" value="Cadastrar Novo Produto" onclick="location.href = '{% url 'aplicativo:create' %}'">
    <input type="submit" value="Listar Produtos" onclick="location.href = '{% url 'aplicativo:list' %}'">
</div>


</body>
</html>